*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

img{
    vertical-align: middle;
    width: 150px;
    height: 150px;
}

.container{
    max-width: 1000px;
    position: relative;
    height: max-content;
    margin: 100px auto;
    text-align: center;
    display: flex;
    justify-content: space-around;
}

.arrow{
    font-size: 80px;
    cursor: pointer;
    width: min-content;
}
.arrow:hover{
    color: gray;
}

.item{
    display: none;
}

.navdots{
    text-align: center;
}
.navdots > *{
    margin: 0px 20px;
    font-size: 30px;
}

.navdots > *:hover{
    color: gray;
    cursor: pointer;
}
.active, .dot:hover {
    background-color: #717171;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }